


.temp{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: rgb(120, 173, 253);
    border-radius: 100%;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    
    

}

.cold{
    background-color: blue;
}

.hot{
    background-color: rgb(255, 164, 164);
}

.veryHot{
    background-color: red;
}

h1{
    
    text-align: center;
}

button{
    display: inline-block;
    width: 40px;
    height:30px;
}